asgiref==3.7.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
Django==3.2.20
django-cors-headers==4.1.0
djangorestframework==3.14.0
google-auth==2.23.0
idna==3.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==1.26.16
